<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

	 <arg name="world_name" value="$(find calculate_trans_prob)/worlds/doorWorld.world" /> <!--corridor, doorWorld-->

 <!--
 <arg name="world_name" value="$(find logical_camera_plugin)/worlds/logical_camera.world" /> 
-->
	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="recording" value="false"/>
    	<arg name="debug" value="false"/>

  </include>


<!-- WHEN USING THIS NODE THE PLUGIN FOR THE ROBOT MODEL SHOULD SUBSCRIBE TO noisy_cmd_vel INSTEAD OF cmd_vel-->
 <node name="add_noise_cmd_vel_node" pkg="add_noise_cmd_vel" type="add_noise_cmd_vel_node.py"  output="screen" /> 

 <node name="direction_robot_node" pkg="direction_robot" type="direction_robot_node.py"  output="screen" /> 

<node name="moverKeyboard" pkg="p3dx_mover" type="moverJLS.py" launch-prefix="gnome-terminal -e " output="screen" />
<!-- Spawn a robot into Gazebo 
<node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file ~/.gazebo/models/pioneer3at_with_sensors/model.sdf -model p3at" />
-->

</launch>
